<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos requeridos -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".parteApi.ConexionApiActivity"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabajoFinal"
        tools:targetApi="31">

        <!-- Meta-datos para Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:node="merge"/>

        <!-- Meta-datos para Firebase (si lo usas) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"
            tools:node="merge"/>

        <!-- Actividad principal -->
        <activity
            android:name=".registro.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrabajoFinal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades registradas -->
        <activity android:name=".registro.LogInActivity"
            android:exported="true"/>

        <activity android:name=".parteApi.ConexionApiActivity"
            android:exported="true"/>

        <activity android:name=".registro.WelcomeScreenActivity"
            android:exported="true"/>

        <activity android:name=".parteApi.PersonajesScreenActivity"
            android:exported="true"/>

    </application>

</manifest>